:root {
  /* --cl-green: #A9D460; */
  --cl-green: #12664f;
  --cl-blue: #62bec1;
  --cl-grey: #afaeae;
  --cl-grey-dark: #686b6f;
  --cl-yellow: #f4b740;
  --cl-black: #000000;
  --cl-white: #ffffff;
  --font-body: "Karla", Arial, Helvetica, sans-serif;
  --font-h: "Rubik", Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-h);
  font-weight: 700;
}
svg {
  fill: var(--cl-grey-dark);
}
.trans-shadow {
  transition: box-shadow 0.3s ease-in-out;
}

.btn {
  background: var(--cl-blue);
  align-self: flex-center;
  width: initial;
}
